{% extends 'base.html' %}
{% load staticfiles %}
{% block head_js %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
{% block custom %}
    <div class="fh5co-entry padding">
        <form action="{% url 'article:article_create' %}">
            <div>
                <label>文章标题</label>
                <input type="text" name="title" value="" id="js-pl-1">
            </div>
            <div>
                <label>文章描述</label>
                <input type="text" name="title" value="" id="js-pl-2">
            </div>
            <div>
                <label>文章分类</label>
                <select id="js-pl-3">
                    {% for item in article_category %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label id="js-pl-4">文章标签</label>
                {% for item in article_tag %}
                <input type="checkbox" name="tag" value="{{ item.id }}">{{ item.name }}
                {% endfor %}
            </div>
            <textarea name="editor1" id="editor1"></textarea>
            <script>
                CKEDITOR.replace( 'editor1' );
            </script>
        <div>
            <button type="button" id="js-pl-submit">保存</button>
        </div>
        </form>
    </div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
        //添加文章
        $('#js-pl-submit').on('click', function(){
            var article_tag = [];
            var article_title = $("#js-pl-1").val();
            var article_desc = $("#js-pl-2").val();
            var article_category = $("#js-pl-3").val();
{#            var article_tag = $("input[name='tag']:checked").serialize();#}
            $('input:checkbox:checked').each(function() {
                article_tag.push($(this).val());
            });

            var article_content =  CKEDITOR.instances.editor1.getData();

            console.log(article_category);
            console.log(article_tag);
            console.log(article_content);
{#            if(article_content == ""){#}
{#                alert("文章内容不能为空");#}
{#                return#}
{#            }#}
            $.ajax({
                cache: false,
                traditional: true,
                type: "POST",
                url:"{% url 'article:article_create' %}",
                data:{'title':article_title, 'desc':article_desc,
                    'category': article_category, 'tag': article_tag,
                    'content': article_content},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
{#                        if(data.msg == '用户未登录'){#}
{#                            window.location.href="/login/";#}
{#                        }else{#}
                            alert(data.msg)
                        }
{##}
                    else if(data.status == 'success'){
{#                        window.location.reload();//刷新当前页面.#}
{#                        alert(data.msg);#}
                        window.location.href = "/article/detail/"+data.msg;
                    }
                }
            });
        });
    </script>
{% endblock %}