{% extends 'base.html' %}
{% load staticfiles %}
{% block custom %}
    {% for article in all_article.object_list %}
        <div class="fh5co-entry padding">
        <img src="{{ MEDIA_URL }}{{ article.user.avatar }}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            <div>
                <span class="fh5co-post-date">{{ article.date_published }}</span>
                <h2><a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a></h2>
                <p>{{ article.desc }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}