{% extends 'user_base.html' %}
{% block custom_user %}
    <div class="content1">
		<h2>Sign In Form</h2>
		<form method="post">
			<input type="text" name="username" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}">
			<input type="password" name="password" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}">
			<div class="button-row">
				<input type="submit" class="sign-in" value="Sign In">
				<input type="reset" class="reset" value="Reset">
				<div class="clear"></div>
			</div>
            {% csrf_token %}
		</form>
	</div>
{% endblock %}
